<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>UserController.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>UserController.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>UserController.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexAdmin</servlet-name>
        <servlet-class>UserController.indexAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>UserController.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>UserController.AddRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRestaurant</servlet-name>
        <servlet-class>UserController.UpdateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResSQL</servlet-name>
        <servlet-class>UserController.UpdateResSQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResSQLInforPage</servlet-name>
        <servlet-class>UserController.UpdateResSQLInforPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>UserController.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrder</servlet-name>
        <servlet-class>UserController.UpdateStatusOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UserController.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductSQL</servlet-name>
        <servlet-class>UserController.UpdateProductSQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagement</servlet-name>
        <servlet-class>UserController.ProductManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexOrderManagement</servlet-name>
        <servlet-class>UserController.indexOrderManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>UserController.AddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexAdmin</servlet-name>
        <url-pattern>/indexAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRestaurant</servlet-name>
        <url-pattern>/UpdateRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResSQL</servlet-name>
        <url-pattern>/UpdateResSQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/AddRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResSQLInforPage</servlet-name>
        <url-pattern>/UpdateResSQLInforPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrder</servlet-name>
        <url-pattern>/UpdateStatusOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductSQL</servlet-name>
        <url-pattern>/UpdateProductSQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagement</servlet-name>
        <url-pattern>/ProductManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexOrderManagement</servlet-name>
        <url-pattern>/indexOrderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
